<div style="text-align: center">

  <h1>Calculator</h1>
  
  <div id="buttony">

  <button id="znamenka" (click)="plus()">+</button>
  <button id="znamenka" (click)="minus()">-</button>
  <button id="znamenka" (click)="nasobeni()">*</button>
  <button id="znamenka"(click)="deleni()">:</button>
  <button id="znamenka" (click)="ac()">AC</button>
  <button id="cisla"(click)="addNumber(1)">1</button>
  <button id="cisla"(click)="addNumber(2)">2</button>
  <button id="cisla"(click)="addNumber(3)">3</button>
  <button id="cisla"(click)="addNumber(4)">4</button>
  <button id="cisla"(click)="addNumber(5)">5</button>
  <button id="cisla"(click)="addNumber(6)">6</button>
  <button id="cisla"(click)="addNumber(7)">7</button>
  <button id="cisla"(click)="addNumber(8)">8</button>
  <button id="cisla"(click)="addNumber(9)">9</button>
  <button id="cisla"(click)="addNumber(0)">0</button>
  <button id="cisla"(click)="equal()">=</button>

  </div>
  
  <div id="vysledek">
    výsledek: {{num}}
  </div>


  

